<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <gazebo>
        <plugin name="skid_steer" filename="libgazebo_ros_skid_steer_drive.so">

            <!-- Wheel information-->
            <leftFrontJoint>Left_Front_wheel_joint</leftFrontJoint>
            <rightFrontJoint>Right_Front_wheel_joint</rightFrontJoint>
            <leftRearJoint>left_Rear_wheel_joint</leftRearJoint>
            <rightRearJoint>Right_Rear_wheel_joint</rightRearJoint>

            <!-- limits -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
        </plugin>
    </gazebo>

</robot>